@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */


#imageE, #imageA, #imageS, #imageY {
	opacity: 0;
	position:absolute;
	left:0;
	transition: opacity 2s ease-in-out;
	min-width: 100%;
	height: 100%;
}

a {
	color: #ffffff;
}

#GridContainer {
	
	width: 30%;
	margin: auto;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.square {
    float:left;
    position: relative;
    width: 50%;
    padding-bottom : 50%; /* = width for a 1:1 aspect ratio */
    background-color:#1E1E1E;
    overflow:hidden;
}

.content {
    position:absolute; /* Content is what is within each square */
    height:90%;
    width:90%;
    padding: 5%; /* Don't forget 5% padding on all sides */
}

.table{
    display:table;
    width:100%;
    height:100%;
}

.content .rs{
    width: 25%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.left-image {
	float:right;
	cursor:pointer;
}

.right-image {
	float:left;
	cursor:pointer;
}

.top-table-cell {
	display:table-cell;
	vertical-align: bottom;
	transition: 1s;
}

.bottom-table-cell {
	display:table-cell;
	vertical-align: top;
}

.rs:hover {
    width:90%;
    height:auto;
	transition: 2s;
	transition-timing-function: ease-in-out;
}

body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: #fff;
    text-align:center;
    background:#1E1E1E;
    margin: 0;
	height: 100%;
}

#footer {
    text-align: center;
	position: fixed;
	padding-bottom: 2%;
	left: 0;
	bottom: 0;
	width: 100%;
    color: #FFEFEF;
}

/* IF THE USER IS ON A DEVICE WITHOUT A POINTER (TOUCHSCREEN), MAKE THE UI TOUCH-FRIENDLY */
@media (pointer:none), (pointer:coarse) {
	
	#imageE, #imageA, #imageS, #imageY {
		opacity: 0;
		width: 0%;
	}
	
	#GridContainer {
		width: 50%;
	}
	
	.rs, .left-image {
		width:90%;
		height:auto;
	}
	
}

@media screen and (max-width: 800px) {
	
	#GridContainer {
		
		width: 50%;
		
	}
	

}
